---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

import Link from "@components/ui/link.astro";

---

<Layout title="Contact">
  <Container class="my-64">
    <Sectionhead>
      <Fragment slot="title">404</Fragment>
      <Fragment slot="desc">Page not found...</Fragment>
    </Sectionhead>

    <div class="mt-8 flex justify-center">
      <Link
        href="/"
        rel="noopener">
        Go Back Home
      </Link>
    </div>
  </Container>
</Layout>
