---
import { Image } from "astro:assets";

import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";

import aboutImage from "assets/images/about.jpg";
---

<Layout title="About">
  <div class="h-full max-w-screen-xl px-6 mx-auto">
    <div class="grid items-center gap-24 lg:grid-cols-5">
      <Image
        src={aboutImage}
        alt="Home"
        class="relative w-full max-w-screen-lg col-span-2 mx-auto"
      />

      <div class="col-span-3">
        <h1 class="text-3xl">About Us</h1>

        <div class="flex flex-col gap-3 mt-4 text-lg">
          <p class="leading-relaxed text-slate-500">
            Our mission is to provide safe, comfortable, and affordable
            short-term rental accommodations that exceed the expectations of our
            guests, primarily but not limited to, traveling nurses, business
            professionals, insurance claimants, and vacation travelers, while
            fostering a sense of community and contributing to the growth and
            prosperity of the neighborhoods in which we operate. We strive to
            continuously innovate and enhance the guest experience through
            seamless technology, personalized service, and a commitment to
            sustainability. Our ultimate goal is to create meaningful and
            memorable stays for every guest, making their travels effortless and
            enjoyable.
          </p>

          <p class="leading-relaxed text-slate-500">
            Las Casas will offer a range of short-term rental properties,
            including apartments, condominiums, and houses. All of our
            properties will be uniquely furnished and equipped with modern
            amenities, including high-speed internet, televisions, and kitchens
            stocked with basic essentials. Our properties will also be
            professionally cleaned and maintained, ensuring that they are always
            in top condition for our guests. Additionally, we will offer 24/7
            support to assist our guests with any needs or concerns that may
            arise during their stay. We will be based close to the city center
            to maximize visibility and accessibility.
          </p>
        </div>
      </div>
    </div>
  </div>
</Layout>
