---
import { Image } from "astro:assets";

import Layout from "@layouts/Layout.astro";

import aboutImage from "assets/images/about.jpg";
---

<Layout title="About">
  <div class="h-full max-w-screen-xl px-6 mx-auto">
    <div class="grid items-center gap-24 lg:grid-cols-5">
      <Image
        src={aboutImage}
        alt="Home"
        class="relative w-full max-w-screen-lg col-span-2 mx-auto"
      />

      <div class="col-span-3">
        <h1 class="text-3xl">Book a stay</h1>

        <div id="leadWidget" class="mt-8"></div>
      </div>
    </div>
  </div>
</Layout>
