---
import { Icon } from "astro-icon";
import { Image } from "@astrojs/image/components";

import Layout from "../layouts/Layout.astro";

import sweepingImage from "../images/sweeping.jpg";

const faq = [
  {
    question: "How does it work?",
    answer:
      "After the lease with added amendment is signed, the home is then set up to highest of standards to make guests feel safe and comfortable. We then do bookings directly from our website and market on third-party short-term rental sites.",
  },
  {
    question: "Do guest get screened?",
    answer:
      "Yes! We require identity verification and screening before every reservation.",
  },
  {
    question: "Who do we host?",
    answer:
      "Our guests vary from business professionals, traveling nurses, short-term tourist.",
  },
  {
    question: "Is the home professionally cleaned?",
    answer:
      "Yes! We pride on having pristine homes that are professionally cleaned immediately after each guest.",
  },
  {
    question: "What amenities are included?",
    answer:
      "We provide complimentary WiFi, fresh linens and towels, hotel toiletries, work space, easy self check-in, kitchen stocked with basic essentials, and smart TVs.",
  },
];
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="px-4 sm:px-6 lg:px-8 py-12">
      <div class="max-w-screen-xl mx-auto">
        <div class="max-w-2xl mb-16">
          <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
            Frequently Asked Questions
          </h1>
          <p class="text-lg mt-4 text-slate-600">
            Everything you need to know about booking and partnering. Can't find
            what your looking for? Please message us directly.
          </p>
        </div>

        <ul class="mb-16 grid gap-8 lg:gap-y-16 sm:grid-cols-2 lg:grid-cols-3">
          {
            faq.map((question) => (
              <li>
                <h2 class="mb-3 font-bold font-lg">{question.question}</h2>
                <p>{question.answer}</p>
              </li>
            ))
          }
        </ul>

        <div class="px-8 py-6 border flex flex-col sm:flex-row gap-8 items-center justify-between">
          <div class="flex flex-col sm:flex-row gap-5 items-center">
            <Image
              src={sweepingImage}
              alt="profile pic"
              class="w-24 h-24 md:w-16 md:h-16 rounded-full"
            />

            <div class="text-center sm:text-left">
              <h2 class="font-bold text-lg">Still have questions?</h2>
              <p class="">
                Can't find the answer your looking for? Please contact our
                friendly team.
              </p>
            </div>
          </div>

          <a
            href="/contact"
            class="whitespace-nowrap rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-black text-white hover:bg-gray-800 border-2 border-transparent inline-flex gap-1 items-center justify-center"
          >
            <Icon name="peace-hand" class="invert w-5 mr-2" />
            Get In Contact
          </a>
        </div>
      </div>
    </section>
  </main>
</Layout>
