---
import { Icon } from "astro-icon";
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";

import sweepingImage from "../images/sweeping.jpg";

const faq = [
  {
    question: "How does it work?",
    answer:
      "After the lease with added amendment is signed, the home is then set up to highest of standards to make guests feel safe and comfortable. We then do bookings directly from our website and market on third-party short-term rental sites.",
  },
  {
    question: "Do guest get screened?",
    answer:
      "Yes! We require identity verification and screening before every reservation.",
  },
  {
    question: "Who do we host?",
    answer:
      "Our guests vary from business professionals, traveling nurses, destination travelers and insurance claimants.",
  },
  {
    question: "Is the home professionally cleaned?",
    answer:
      "Yes! We pride on having pristine homes that are professionally cleaned immediately after each guest.",
  },
  {
    question: "What amenities are included?",
    answer:
      "We provide complimentary WiFi, fresh linens and towels, hotel toiletries, work space, easy self check-in, kitchen stocked with basic essentials, coffee, and smart TVs.",
  },
];
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="px-4 py-12 sm:px-6 lg:px-8">
      <div class="max-w-screen-xl mx-auto">
        <div class="max-w-2xl mb-16">
          <h1 class="text-4xl font-bold lg:text-5xl lg:tracking-tight">
            Frequently Asked Questions
          </h1>
          <p class="mt-4 text-lg text-slate-600">
            Everything you need to know about booking and partnering. Can't find
            what your looking for? Please message us directly.
          </p>
        </div>

        <ul class="grid gap-8 mb-16 lg:gap-y-16 sm:grid-cols-2 lg:grid-cols-3">
          {
            faq.map((question) => (
              <li>
                <h2 class="mb-3 font-bold font-lg">{question.question}</h2>
                <p>{question.answer}</p>
              </li>
            ))
          }
        </ul>

        <div
          class="flex flex-col items-center justify-between gap-8 px-8 py-6 border sm:flex-row">
          <div class="flex flex-col items-center gap-5 sm:flex-row">
            <Image
              src={sweepingImage}
              alt="profile pic"
              class="w-24 h-24 rounded-full md:w-16 md:h-16"
            />

            <div class="text-center sm:text-left">
              <h2 class="text-lg font-bold">Still have questions?</h2>
              <p class="">
                Can't find the answer you're looking for? Please contact our
                friendly team.
              </p>
            </div>
          </div>

          <a
            href="/contact"
            class="whitespace-nowrap transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-black text-white hover:bg-gray-800 border-2 border-transparent inline-flex gap-1 items-center justify-center">
            Get In Contact
          </a>
        </div>
      </div>
    </section>
  </main>
</Layout>
