---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import Dropdown from "./dropdown.astro";

import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";

import Logo from "@components/logo.astro";

const menuitems = [
  {
    title: "About",
    path: "/about",
  },
  {
    title: "Partner",
    path: "/partner",
  },
  {
    title: "Stay",
    path: "/stay",
  },
  {
    title: "Contact",
    path: "/contact",
  },
  {
    title: "FAQ",
    path: "/faq",
  },
];
---

<header class="bg-[#fffbf4] relative">
  <Astronav>
    <div class="max-w-screen-xl px-6 py-6 mx-auto border-t-2">
      <div class="flex flex-wrap items-center justify-between w-full lg:w-auto">
        <a href="/">
          <!-- <Image src={logo} alt="Las Casas Logo" class="w-20" /> -->

          <Logo />
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-5 h-5 text-gray-800" />
        </div>
        <MenuItems class="hidden w-full mt-8 lg:w-auto lg:flex lg:mt-0">
          <ul class="flex flex-col items-center text-sm lg:flex-row lg:gap-3">
            {
              menuitems.map((item, index) => (
                <li>
                  <a
                    href={item.path}
                    class="flex py-2 text-gray-600 lg:px-3 hover:text-gray-900">
                    {item.title}
                  </a>
                </li>
              ))
            }
          </ul>
        </MenuItems>
      </div>
    </div>
  </Astronav>
</header>
