---
---

<section>
  <div class="mx-auto my-24 max-w-6xl w-[90%]">
    <h2 class="text-3xl font-bold mb-16 text-center">Amenities</h2>

    <ul class="grid gap-8 grid-cols-2 md:grid-cols-4 text-center">
      <li class="flex flex-col gap-10 items-center">
        <div class="w-28 h-28 rounded-full bg-black"></div>
        <p>High Speed Wifi</p>
      </li>

      <li class="flex flex-col gap-10 items-center">
        <div class="w-28 h-28 rounded-full bg-black"></div>
        <p>Keyless Entry</p>
      </li>

      <li class="flex flex-col gap-10 items-center">
        <div class="w-28 h-28 rounded-full bg-black"></div>
        <p>24/7 Guest Services</p>
      </li>

      <li class="flex flex-col gap-10 items-center">
        <div class="w-28 h-28 rounded-full bg-black"></div>
        <p>Dedicated Workspace</p>
      </li>
    </ul>
  </div>
</section>
