---
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";

import Link from "@components/ui/link.astro";

import heroImage from "images/oceanview.jpg";

---

<section
  class="gap-16 grid lg:grid-cols-2 place-items-center pt-4 pb-8 md:pb-24">
  <div class="w-full order-1">
    <Picture
      src={heroImage}
      alt="Ocean view from back porch"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
      class='w-full'
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Rentals furnished in a modern style.
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Make yourself comfortable in our short-term rentals, complete with
      hotel-like amenities and the conveniences of home. We accommodate both
      business travelers and families.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://web3templates.com/templates/astroship-starter-website-template-for-astro"
        target="_blank"
        class="flex gap-2 items-center justify-center"
        rel="noopener">
        <Icon class="invert w-5 h-5" name="calendar-plus" />
        Book Rental
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/astroship"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="w-5 h-5" name="peace-hand" />
        Get In Touch
      </Link>
    </div>
  </div>
</section>
